<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>


<!-- <class name="SECR_Portal_Credential.Mark_Attendence_Cred"/> -->
      <!-- SECR New Distributor Creation Flow -->
<class name="HO_Portal_Credential.HO_Distributor_Approval_View_Test">
			<methods>
        <include name="DistM_DistributorApprov_View"/>
    </methods>
    </class>



    </classes>
  </test>
</suite>
